* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 50px;
  }
  h1 {
    font-size: 36px;
  }
  /* Style the navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }
  
  .navbar h1 {
    color: #fff;
    margin-right: 20px;
  }
  
  .navbar ul {
    display: flex;
    list-style-type: none;
  }
  
  .navbar li {
    margin: 0 10px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    padding: 6px 12px;
    transition: background-color 0.3s ease;
  }
  
  .navbar a:hover, .navbar a.active {
    background-color: #555;
    color: #fff;
  }
  p {
    font-size: 18px;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
    font-size: 18px;
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    color: #3498db;
  }
  a:hover {
    color: #2980b9;
  }